* {
  background-color: #ecf3f9;
  font-family: "Baloo 2", cursive;
  font-size: 10px;
}

.under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.under-construction-title {
  font-size: 5rem;
  font-weight: 500;
  color: #7bb3fe;
}
